{%- comment -%}
  Appeler cette page avec un author
  Ex : {%- include line-community.html author=author -%}
{%- endcomment -%}

{%- assign author= include.author -%}

{%- comment -%}
  Détecter si l'author est actif ou non. Par défaut, oui.
{%- endcomment -%}

{% assign empty_array = "" | split: "," %}
{% assign startups = author.startups | default: empty_array %}

<tr>
    <td>{% if author.link.size > 0 %}
            <b><a href="{{ author.link }}" target="_blank" rel="noopener" title="Site web de {{author.fullname}} - nouvelle fenêtre">{{ author.fullname }}</a></b>
          {% else %}
            <b>{{ author.fullname }}</b>
          {% endif %}
          <br />
          <span class="fr-text--sm">{{ author.role }}</span>
      </td>
    <td>
      <ul class="fr-tags-group">
        {% for startup in startups, limit: 20 %}
          {% assign startup_id = "/startups/" | append: startup %}
          {% assign this_startup = site.startups | find: "id", startup_id %}
          {% if this_startup %}
            <li>
              <a class="fr-tag" href="{{ this_startup.url }}">{{ this_startup.title }}</a>
            </li>
          {% else %}
            {% continue %}
          {% endif %}
        {% endfor %}
        {% for team in teams %}
            <li>
              <span>{{ team.name }}</span>
            </li>
        {% endfor %}
      </ul>
    </td>
</tr>
